# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/securesign

SECRET_KEY=<your-512-bit-secret-key-in-hex>
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=60

AES_KEY=<your-256-bit-aes-key-in-hex>

# App
APP_NAME=SecureSign
APP_VERSION=1.0.0
DEBUG=true

# CA Configuration
CA_COUNTRY=EC
CA_STATE=Pichincha
CA_LOCALITY=Quito
CA_ORG=ESPE
CA_ORG_UNIT=Seguridad
CA_COMMON_NAME=CA_SIMULADA
CA_VALIDITY_DAYS=365
